# Field System directories
[FS]
  # Field system top directory
  fs_dir = /usr2/fs
  # Station-specific FS directory
  st_dir = /usr2/st
  # Schedule directory (including Master file)
  sched_dir = /usr2/sched
  # Procedure file directory
  proc_dir = /usr2/proc
  # Log directory
  log_dir = /usr2/log

# Default settings for this station/facility
[Station]
  # station name(s) to process by default. Comma separated two-letter codes. e.g.:
  # stations = Hb, Ho, Ke, Yg
  # stations = Ke
  stations =  Hb, Ho, Ke, Yg
  ##################
  # Which master files should be processed? At least one of these must be selected
  # Get the main_task Multi-Agency schedule, i.e. mostly 24h sessions
  GetMaster = True
  # Get the Multi-Agency Intensives schedule
  GetMasterIntensive = True
  ##################
  # What schedule file formats should be obtained? This is a prioritised list with the highest one first
  # use the file name suffix (vex and/or skd) and comma-separated
  SchedTypes = skd
  # What is the minimum time between checks for a new Master file on the server (hours)?
  MasterCheckTime = 12
  # What is the minimum time between checks for a new Schedule (SKD or VEX) file on the server (hours)?
  ScheduleCheckTime = 1
  # How far ahead in time should we look for schedule files (days)?
  LookAheadTimeDays = 14

[Drudg]
  # Drudg-related config
  # Run drudg on downloaded schedules? If False then files are downloaded but not processed
  do_drudg = True
  # Where the executable lives
  binary = /usr2/fs/bin/drudg
  # Directory for the output LST (schedule summary) file
  lst_dir = ${FS:sched_dir}
  #-------------------------------------------------------------------------------------------------
  # /usr2/control/skedf.ctl contains some options to prompt the user in some cases. These need to be
  # automated in fesh.
  #
  # 1. TPI period in centiseconds
  #    0 = don't use the TPI daemon (default)
  tpi_period = 0
  #  2. Continuous cal option. Either "on" or "off". Default is 'off'
  cont_cal_action = off
  # 3. If continuous cal is in use, what is the polarity? Options are 0-3 or "none". Default is none
  cont_cal_polarity = none
  # 4. For PFB DBBCs only, vsi_align setup
  #    Applicable only for PFB DBBCs,
  #    none = never use dbbc=vsi_align=... (default)
  #    0 = always use dbbc=vsi_align=0
  #    1 = always use dbbc=vsi_align=1
  vsi_align = none
  #-------------------------------------------------------------------------------------------------

[Servers]
  # Schedule file server URLs. Each of these will be checked for the most recent files.
  # Use comma-separated URLs and specify the top directory (i.e. the 'vlbi' directory).
  # Use protocols https (Curl) or ftp (anonymous FTP)
  URL = https://cddis.nasa.gov/archive/vlbi, ftp://ivs.bkg.bund.de/pub/vlbi, ftp://ivsopar.obspm.fr/pub/vlbi
  # Alternative CDDIS (anonymous secure FTP):
  # URL = ftps://cddis.nasa.gov/archive/vlbi

[Curl]
  # curl configuration files. Needed for https.
  # netrc file (curl puts this in ~/.netrc by default)
  netrc_file = /usr2/control/netrc
  # curl cookie file (curl puts this in ~/.urs_cookies by default)
  cookie_file = /usr2/control/urs_cookies
