! .Xresources file
*background:		linen
*font:			10x20
!emacs
!emacs needs a font with a better boldface
emacs.geometry:		80x26
emacs*font:		-bitstream-terminal-medium-r-normal--*-*-*-*-*-*-iso8859-1
!
! Utilities
! xclock
XClock*geometry:	84x84-0+0
XClock*padding:		2
XClock*chime:		true
XClock*update:		1
XClock*borderWidth:	1
XClock*title:		UT
! xcalc
XCalc*geometry:		-0-0
! xload
XLoad*geometry:		-0-0
!
! FS windows
! fmset
fmset*geometry:	80x24+75+75
fmset*scrollBar:	false
! logex
logex*geometry:		80x24+75+75
logex*scrollBar:	true
! pfmed
pfmed*geometry:		80x24+75+75
pfmed*scrollBar:	true
! oprin
oprin.title:		Operator Input
oprin*geometry:		80x5+0-0
oprin*scrollBar:	true
oprin*saveLines:	100
! monit1 (single line, time)
monit1*geometry:	40x1-0+0
monit1.title:		Field System Time
monit1*border:		PaleGreen3
! monit2 (standard display, 6 lines)
monit2*geometry:	81x6-0+0
monit2.title:		System Status Monitor
monit2.input:		false
! monit3 (Tsys display, 17 lines)
monit3*geometry:	32x17-0+120
monit3.title:		System Temperatures
!login shell
login_sh.title:		login shell
login_sh*scrollBar:	true
login_sh*saveLines:	500
login_sh*geometry:	99x24+0+0
!xterm
xterm.input:            false
xterm*scrollBar:	true
xterm*jumpScroll:	false























































































