! .Xresources file
*background:		linen
*font:			10x20
*VT100*foreground:	black
*VT100*background:	linen
!emacs
!emacs needs a font with a better boldface
emacs.geometry:		80x26
emacs*font:		-bitstream-terminal-medium-r-normal--*-*-*-*-*-*-iso8859-1
!login shell
login_sh.title:		login shell
login_sh*scrollBar:	true
login_sh*saveLines:	500
login_sh*geometry:	140x24+0+0
login_sh*font:		10x20
login_sh*VT100.Translations:	#override\
	~Ctrl ~Meta <Btn2Up>:	ignore()
